.container.content {
    margin-top: 50px;
}

.edit-player {
    float: right;
    margin-top: 6px;
}

.name-edit input.form-control {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: middle;
}

.score {
  width: 60px;
  float: left;
  text-align: center;
}

tr.self {
    font-weight: bold;
}

.listing .table td:not(:first-child),
.listing .table th:not(:first-child) {
    text-align: center;
    width: 20%;
}

.table {
    font-size: 130%;
}
tbody {
    cursor: pointer;
}

.board-div {
    text-align: center;
}